body{
    background: url('../img/fondo-login.jpeg') no-repeat;
    background-size: cover;
}
.banner-upse{
    width: 100%;
}
.login{
    width: 100%;   
}
.login-in{
    width: 300px;
}
.remember{
    margin-left: 50px;
}
.max-w-xs{
    max-width: 23rem !important;
}
@media (max-width:518px){
    
}